@charset "UTF-8";

@font-face {
  font-family: "Circe-Regular";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMediumC";
  font-display: swap;
  src: url("../fonts/FuturaMediumC.woff") format("woff"), url("../fonts/FuturaMediumC.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Circe-regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Circe-regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #2a2a2a;
  font-size: 17px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1260px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 14px 45px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#0097ab), to(#00c4de));
  background: -o-linear-gradient(left, #0097ab 0%, #00c4de 100%);
  background: linear-gradient(90deg, #0097ab 0%, #00c4de 100%);
  border-radius: 50px;
  color: #ffffff;
}

.select {
  position: relative;
  width: 180px;
  margin-bottom: 20px;
}

.select__item {
  position: relative;
}

.select__title {
  position: relative;
  color: #7b7b7b;
  background: #ffffff;
  border: 1px solid #0097ab;
  border-radius: 100px;
  cursor: pointer;
  padding: 8px 7px;
  padding-right: 40px;
}

.select__title:after {
  position: absolute;
  content: url("../img/icons/04.svg");
  top: 13px;
  left: 140px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
  margin-top: 5px;
  border-radius: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  padding: 14px 25px;
  color: #7b7b7b;
  background: #ffffff;
  border: 1px solid #0097ab;
  border-radius: 100px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header__menu {
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
  border-radius: 0px 0px 25px 25px;
  padding: 35px 90px;
  font-size: 13px;
  line-height: 146.15385%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-logo {
  margin-bottom: 15px;
  position: relative;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__body._active {
  left: 0;
}

.menu__body._active .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body._active .menu__list .menu__link {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 30px;
}

.menu__list li {
  display: inline-block;
}

.menu__list li + li {
  margin-left: 10px;
}

.menu__link {
  color: #4c4c4c;
}

.enter {
  padding: 0px 25px;
  border-left: 1px solid #9bcfd5;
  border-right: 1px solid #9bcfd5;
}

.search {
  padding-right: 15px;
  border-right: 1px solid #9bcfd5;
}

.header-order a {
  display: inline-block;
  border: 2px solid #0097ab;
  padding: 17px 20px;
  background: #ffffff;
  border-radius: 40px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0097ab;
}

.icon-menu {
  display: none;
}

.footer {
  background: #0099ad;
  color: #ffffff;
}

.footer a {
  color: #fff;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clinic-title,
.pacient-title,
.contacts-title {
  font-size: 20px;
  line-height: 26px;
  font-family: "FuturaMediumC";
  margin-bottom: 25px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.social {
  margin-right: 15px;
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-rights {
  margin-right: 170px;
}

._no-webp .sec1-bg{
  background-image: url("../img/home/bg.png"); }

.sec1-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sec1 {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec2 {
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(173, 173, 173, 0.15);
          box-shadow: 0px 4px 24px rgba(173, 173, 173, 0.15);
  border-radius: 60px 0px;
  padding: 70px 80px;
}

.sec-2-text {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.sec2-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form {
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
}

.sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-photo img {
  background: #fff2e1;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
  border-radius: 60px 0px;
}

.sec4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec4-text {
  padding: 60px;
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
  border-radius: 60px 0px;
}

.sec4-about {
  margin-bottom: 42px;
}

.sec6.sec3 {
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

._no-webp .sec7{
  background: url("../img/home/bg-sec.jpg") center no-repeat, rgba(255, 255, 255, 0.8); }

.sec7 {
  background-size: cover !important;
  background-blend-mode: color;
  padding: 50px 0px;
}

.sec-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec7-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  opacity: 1;
}

.sec7-about {
  margin-bottom: 28px;
  max-width: 450px;
}

.sec7-link {
  display: inline-block;
}

.sec7-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec7-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.sec7-img {
  margin-right: 29px;
}

.sec7-item_text {
  max-width: 120px;
}

.sec8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec8-slider {
  position: relative;
}

.slider-text {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #2a2a2a;
  margin-bottom: 60px;
}

.slider-title {
  text-align: center;
}

.swiper-container {
  width: 320px;
  height: 300px;
}

.str-next {
  position: absolute;
  bottom: 67px;
  right: 48%;
  width: 16px;
  height: 30px;
  background: url("../img/icons/next.svg") center no-repeat;
}

.str-prev {
  position: absolute;
  width: 16px;
  height: 30px;
  bottom: 67px;
  left: 12%;
  background: url("../img/icons/prev.svg") center no-repeat;
}

.sec9-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec9-text {
  padding-left: 50px;
}

.sec9-about {
  margin-bottom: 28px;
}

.sec9-list {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -190px;
}

.sec9-item {
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff2e1;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 151, 171, 0.15);
  border-radius: 60px 0px;
  margin: 30px;
}

.sec9-icon {
  margin-right: 30px;
}

.sec9-additional {
  max-width: 144px;
}

.sec10 {
  position: relative;
}

.sec10.orto10 {
  margin-top: -50px;
}

.sec10-about {
  margin-bottom: 60px;
  max-width: 413px;
}

.slide-name {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 123.7%;
  text-align: center;
  text-transform: uppercase;
  color: #2a2a2a;
}

.slide-photo {
  text-align: center;
  margin-bottom: 20px;
}

.slide-photo img {
  border-radius: 60px 0px;
}

.slide-doctor {
  text-align: center;
  color: #707070;
}

.sec10-bcg {
  position: absolute;
  width: 720px;
  height: 460px;
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
  border-radius: 60px 0px;
  z-index: -1;
  bottom: -90px;
  right: 0px;
}

.st-next {
  position: absolute;
  bottom: 67px;
  right: 20px;
  width: 16px;
  height: 30px;
  background: url("../img/icons/next.svg") center no-repeat;
}

.st-prev {
  position: absolute;
  width: 16px;
  height: 30px;
  bottom: 67px;
  left: 20px;
  background: url("../img/icons/prev.svg") center no-repeat;
}

.sec11 {
  padding-top: 60px;
}

.sec11-title.title {
  margin-bottom: 50px;
}

.sec11-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec11-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff2e1;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 151, 171, 0.15);
  border-radius: 60px 0px;
  padding: 30px;
  margin-bottom: 30px;
}

.sec11-img {
  margin-right: 40px;
}

.new-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 123.7%;
}

.new-text {
  font-size: 15px;
  line-height: 22px;
  max-width: 245px;
}

.new-text a {
  color: #000;
  text-decoration: underline;
}

.sec11-link {
  text-align: right;
}

.sec11-link a {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
}

.sec12 {
  position: relative;
  padding-top: 30px;
}

.sec12-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec12-about {
  max-width: 373px;
  margin-bottom: 44px;
}

.sec12-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec12-img {
  padding-top: 100px;
}

.contact-phone {
  margin-right: 53px;
  margin-bottom: 20px;
}

.phone-text,
.mail-text {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}

.phone-numb a,
.mail-adres a {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  color: #2a2a2a;
}

.sec13 {
  position: absolute;
  width: 450px;
  height: 522px;
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 60px 0px;
  padding: 30px 50px;
  top: 430px;
  right: 100px;
  z-index: 5;
}

.sec13-title {
  font-family: "FuturaMediumC";
  font-size: 22px;
  line-height: 54px;
  text-transform: capitalize;
  color: #050505;
}

.sec13-text {
  margin-bottom: 30px;
}

._no-webp .sec14{
  background-image: url("../img/home/14.jpg"); }

.sec14 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 370px;
  padding-top: 30px;
  position: relative;
}

.sec14-title {
  position: absolute;
  top: 70%;
  left: 50px;
}

.sec1-mobile {
  display: none;
}

.mobile-about.text {
  margin-bottom: 70px;
}

.serv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.serv1-text {
  max-width: 370px;
}

.serv1-about {
  margin-bottom: 28px;
}

.serv1-about i {
  font-weight: bold;
  font-style: normal;
}

.serv1-about a {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.serv-2 {
  padding-top: 50px;
}

.serv2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serv2-item {
  margin-bottom: 60px;
  padding: 30px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
}

.serv-bg {
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
          box-shadow: 0px 4px 24px rgba(0, 151, 171, 0.15);
  border-radius: 60px 0px;
}

.serv2-img {
  margin-bottom: 37px;
}

.serv2-title {
  margin-bottom: 6px;
  font-weight: bold;
}

.serv2-text {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

.ster1 {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ster1-text {
  padding-top: 80px;
}

.ster1-title {
  max-width: 800px;
}

.ster1-about {
  max-width: 550px;
  margin-bottom: 28px;
}

.serv-img {
  position: relative;
}

.ster1-serv {
  position: relative;
  background: #ecf6ff;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  border-radius: 60px 0px;
  padding: 30px 60px;
  padding-right: 30px;
  margin-top: -80px;
  z-index: 50;
}

.serv2-title {
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.ster1-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.ster2 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.str2-image1 {
  display: none;
}

.ster2-about {
  margin-bottom: 28px;
}

.ster3 {
  padding-top: 50px;
}

.ster3-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 15px;
}

.ster3-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ster3-item {
  font-size: 17px;
  line-height: 46px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  padding-left: 20px;
  position: relative;
}

.ster3-item:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #0097ab;
  border-radius: 50%;
  top: 14px;
  left: -5px;
}

.ster4 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ster4-about {
  margin-bottom: 28px;
  max-width: 492px;
}

.ster5 {
  padding: 70px;
  background: #ecf6ff;
  -webkit-box-shadow: 0px 4px 24px rgba(173, 173, 173, 0.15);
          box-shadow: 0px 4px 24px rgba(173, 173, 173, 0.15);
  border-radius: 60px 0px;
}

.ster5-title {
  margin-bottom: 33px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}

.ster5-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ster5-form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.str-item {
  margin-right: 35px;
}

.inp1 {
  width: 310px;
}

.form_toggle {
  display: inline-block;
  overflow: hidden;
}

.form_toggle-item {
  display: inline-block;
}

.form_toggle-item.item-1 {
  margin-right: -5px;
}

.form_toggle-item input[type="radio"] {
  display: none;
}

.form_toggle-item label {
  display: inline-block;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #0097ab;
  border-radius: 100px;
  border-right: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form_toggle .item-1 label {
  border-radius: 100px 0 0 100px;
  padding: 6px 25px;
}

.form_toggle .item-2 label {
  border-radius: 0 100px 100px 0;
  border-right: 1px solid #999;
  padding: 6px 25px;
}

/* Checked */

.form_toggle .item-1 input[type="radio"]:checked + label {
  background: #67c5e2;
}

.form_toggle .item-2 input[type="radio"]:checked + label {
  background: #ffc5c5;
}

.ster5-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.ster6 {
  padding-top: 50px;
}

.ster6-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ster6-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  margin-right: 67px;
}

.ster6-about {
  margin-bottom: 28px;
}

.ster6-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.ster7 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ster7-text {
  padding-top: 80px;
  max-width: 473px;
}

.ster7-about {
  margin-bottom: 28px;
}

.ster8 {
  padding-top: 50px;
}

.ster8-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  max-width: 360px;
  margin-bottom: 50px;
}

.ster8-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ster8-numb {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  background: #0097ab;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.ster8-span {
  font-weight: bold;
  margin-bottom: 13px;
}

.ster8-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  margin-bottom: 30px;
}

.ster9 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ster9-img {
  margin-bottom: 50px;
}

.ster9-about {
  margin-bottom: 28px;
}

.ster10 {
  position: relative;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ster10-about {
  max-width: 550px;
  margin-bottom: 28px;
}

.spollers-block {
  cursor: pointer;
  padding-left: 40px;
  max-width: 600px;
}

.spollers-block__item {
  margin-bottom: 30px;
}

.spollers-block__title {
  position: relative;
}

.spollers-block__title:before {
  position: absolute;
  content: "";
  background-color: #0099ad;
  width: 13px;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  top: 50%;
  left: -40px;
}

.spollers-block__title:after {
  position: absolute;
  content: "";
  background-color: #0099ad;
  width: 13px;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
  top: 50%;
  left: -31px;
}

.spollers-block__title._active:before {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.spollers-block__title._active:after {
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.ster10-img {
  padding-top: 120px;
}

.orto1 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orto1.orto {
  padding-top: 0;
}

.orto1-text {
  max-width: 476px;
}

.orto1-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 13px;
}

.orto1-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
}

.orto1-img .sec-img {
  margin-bottom: 0;
}

.orto1-img img {
  width: 50vw;
}

.orto2-text {
  max-width: 538px;
}

.orto2-text.ort-text {
  max-width: 473px;
}

.orto2-list {
  margin-right: 140px;
}

.orto2-img {
  margin-right: 160px;
}

.orto2 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orto2.orto2-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orto21 {
  padding-top: 50px;
}

.orto2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orto2-text {
  max-width: 550px;
  margin-right: 67px;
}

.orto2-text1 {
  max-width: 550px;
}

.orto2-text2 {
  max-width: 600px;
}

.ster8.str.vet1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ster8-content.vet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 550px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.vet-text.text {
  max-width: 500px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: "FuturaMediumC";
  font-size: calc(35px + 15 * ((100vw - 320px) / 1600));
  color: #050505;
  margin-bottom: 28px;
}

.title span {
  color: #0097ab;
}

.text {
  font-size: 17px;
  line-height: 25px;
  color: #2a2a2a;
  margin-bottom: 28px;
}

.text span {
  font-weight: bold;
}

.sec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.sec-item span {
  width: 30px;
  height: 30px;
  background: #0097ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  border-radius: 50%;
}

.sec-img {
  margin-bottom: 28px;
}

.sec-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 50px;
  background: -webkit-gradient(linear, left top, right top, from(#0097ab), to(#00c4de));
  background: -o-linear-gradient(left, #0097ab 0%, #00c4de 100%);
  background: linear-gradient(90deg, #0097ab 0%, #00c4de 100%);
  border-radius: 50px;
}

button {
  background-color: #fff;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1272px) {
  ._container {
    max-width: 970px;
  }

  .header-logo {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .menu__list {
    margin-top: 30px;
  }

  .header-order {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .str-next {
    right: 45%;
  }

  .str-prev {
    left: 22%;
  }

  .sec-img {
    width: 35vw;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .footer-logo {
    margin-right: 15px;
  }

  .str-next {
    right: 30%;
  }

  .str-prev {
    left: 27%;
  }

  .sec9-list {
    width: 100%;
  }

  .sec13 {
    right: -30px;
  }

  .ster5-form1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .orto2-list {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__menu {
    padding: 8px 50px;
    position: fixed;
    width: 100%;
    z-index: 50;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #cae9ee;
    opacity: 0.9;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header-order {
    display: none;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-logo {
    margin-bottom: 30px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .footer-clinic,
  .footer-logo,
  .footer-contacts,
  .footer-pacient {
    margin-bottom: 30px;
  }

  .footer-contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-rights {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .sec1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 150px;
    padding-bottom: 65px;
  }

  .sec1-text {
    margin-bottom: 50px;
  }

  .sec2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sec-2-text {
    text-align: center;
  }

  .sec2-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sec3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .sec3-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .sec4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .sec7 {
    background: none !important;
  }

  .sec-7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sec7-text {
    margin-bottom: 30px;
  }

  .sec7-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec8 {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec8-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .swiper-container {
    text-align: center;
  }

  .sec8-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .sec9 {
    padding-top: 30px;
  }

  .sec9-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec9-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .sec9-text {
    padding-left: 10px;
  }

  .sec10 {
    padding-top: 30px;
  }

  .sec10-bcg {
    width: 414px;
    height: 269px;
    bottom: 0;
    left: 0;
  }

  .sec11 {
    padding-top: 30px;
  }

  .sec12 {
    padding-top: 30px;
  }

  .sec12-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec13 {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .sec14 {
    background-position: left center;
  }

  ._no-webp .sec1-mobile{
    background-image: url("../img/services/03.png"); }

  .sec1-mobile {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .serv1 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .serv1-text {
    max-width: 100%;
  }

  .serv-2 {
    padding-top: 30px;
  }

  .serv2-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .serv2-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }

  ._no-webp .ster1{
    background-image: url("../img/bgc/01.png"); }

  .ster1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 120px;
  }

  .ster1-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .ster1-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right;
  }

  .serv-img {
    width: 30%;
  }

  .ster1-serv {
    display: none;
  }

  .ster2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }

  .str2-block {
    text-align: center;
  }

  .str2-image {
    display: none;
  }

  .str2-image1 {
    display: inline;
  }

  .ster3 {
    padding-top: 30px;
  }

  .ster3-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 99%;
            flex: 0 1 99%;
  }

  .ster4 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .str4-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .ster5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ster5-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ster5-form1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .str-item {
    margin-right: 0;
  }

  .form_toggle {
    margin-bottom: 30px;
  }

  .ster5-btn {
    margin: 0px auto;
  }

  .ster6 {
    padding-top: 30px;
  }

  .ster6-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .ster6-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .ster7 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ster8 {
    padding-top: 30px;
  }

  .ster8-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }

  .ster9 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ster10 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ster10-img {
    padding-top: 30px;
  }

  .orto1 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .orto1-img img {
    width: 100%;
  }

  .orto2-img {
    margin-right: 0;
  }

  .orto2 {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .orto-image {
    display: none;
  }

  .orto21.orto-mobile {
    display: none;
  }

  .orto21 {
    padding-top: 30px;
  }

  .orto2-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .orto2-text {
    margin-right: 0;
  }

  .orto2-text1 {
    padding-top: 0;
  }

  .orto2-text2 {
    padding-top: 0;
  }

  .ster8.str.vet1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec-img {
    width: 90vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 479.98px) {
  .sec11-img img {
    width: 100%;
  }

  .sec13 {
    width: 310px;
  }

  .serv2-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}

._webp .sec1-bg{ background-image: url(../img/home/bg.webp); }

._webp .sec7{ background: url(../img/home/bg-sec.webp) center no-repeat, rgba(255, 255, 255, 0.8); }

._webp .sec14{ background-image: url(../img/home/14.webp); }

@media (max-width: 767.98px){

  ._webp .sec1-mobile{ background-image: url(../img/services/03.webp); }
}

@media (max-width: 767.98px){

  ._webp .ster1{ background-image: url(../img/bgc/01.webp); }
}